

*.cs linguist-detectable=true

AdminPanelEticaret/wwwroot/** linguist-vendored
AdminPanelEticaret/node_modules/** linguist-vendored
AdminPanelEticaret/lib/** linguist-vendored
AdminPanelEticaret/scripts/** linguist-vendored
AdminPanelEticaret/content/** linguist-vendored

*.pug linguist-vendored 
*.scss linguist-vendored
