USE [master]
GO
/****** Object:  Database [MobilEticaretVt]    Script Date: 25.10.2025 13:00:22 ******/
CREATE DATABASE [MobilEticaretVt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobilEticaretVt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MobilEticaretVt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobilEticaretVt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MobilEticaretVt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobilEticaretVt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobilEticaretVt]
GO
/****** Object:  User [Zisan]    Script Date: 25.10.2025 13:00:22 ******/
CREATE USER [Zisan] FOR LOGIN [Zisan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [yuce]    Script Date: 25.10.2025 13:00:22 ******/
CREATE USER [yuce] FOR LOGIN [yuce] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](10) NOT NULL,
	[Sifre] [varchar](10) NOT NULL,
 CONSTRAINT [PK_admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategoris]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](30) NOT NULL,
 CONSTRAINT [PK_kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteris]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteris](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdi] [varchar](30) NOT NULL,
	[MusteriSoyadi] [varchar](30) NOT NULL,
	[MusteriSehir] [varchar](15) NOT NULL,
	[MusteriTelNo] [varchar](10) NOT NULL,
	[MusteriMail] [varchar](50) NOT NULL,
	[MusteriSifre] [varchar](50) NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_musteris] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satislars]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satislars](
	[SatisHareketId] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[UrunId] [int] NOT NULL,
	[MusteriId] [int] NOT NULL,
 CONSTRAINT [PK_satislars] PRIMARY KEY CLUSTERED 
(
	[SatisHareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uruns]    Script Date: 25.10.2025 13:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uruns](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [varchar](30) NOT NULL,
	[UrunMarka] [varchar](30) NOT NULL,
	[UrunYazar] [varchar](250) NULL,
	[UrunStok] [smallint] NOT NULL,
	[UrunSatisFiyati] [decimal](18, 2) NOT NULL,
	[UrunStokDurum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[Durum] [bit] NOT NULL,
	[IndirimliFiyat] [decimal](18, 2) NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_uruns] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_satislars_MusteriId]    Script Date: 25.10.2025 13:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_satislars_MusteriId] ON [dbo].[satislars]
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_satislars_UrunId]    Script Date: 25.10.2025 13:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_satislars_UrunId] ON [dbo].[satislars]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_uruns_KategoriID]    Script Date: 25.10.2025 13:00:22 ******/
CREATE NONCLUSTERED INDEX [IX_uruns_KategoriID] ON [dbo].[uruns]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[satislars]  WITH CHECK ADD  CONSTRAINT [FK_satislars_musteris_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteris] ([MusteriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[satislars] CHECK CONSTRAINT [FK_satislars_musteris_MusteriId]
GO
ALTER TABLE [dbo].[satislars]  WITH CHECK ADD  CONSTRAINT [FK_satislars_uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[uruns] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[satislars] CHECK CONSTRAINT [FK_satislars_uruns_UrunId]
GO
ALTER TABLE [dbo].[uruns]  WITH CHECK ADD  CONSTRAINT [FK_uruns_kategoris_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[uruns] CHECK CONSTRAINT [FK_uruns_kategoris_KategoriID]
GO
USE [master]
GO
