USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ECommerceDB')
BEGIN
    CREATE DATABASE [ECommerceDB]
END
GO

USE [ECommerceDB]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)
)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](10) NOT NULL,
	[Sifre] [varchar](10) NOT NULL,
 CONSTRAINT [PK_admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)
)
GO

CREATE TABLE [dbo].[Adresler](
	[AdresId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NOT NULL,
	[Sehir] [nvarchar](max) NOT NULL,
	[Ilce] [nvarchar](max) NOT NULL,
	[AcikAdres] [nvarchar](max) NOT NULL,
	[MusteriId] [int] NOT NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[AdresId] ASC
)
)
GO

CREATE TABLE [dbo].[degerlendirmes](
	[DegerlendirmeId] [int] IDENTITY(1,1) NOT NULL,
	[Puan] [int] NOT NULL,
	[Yorum] [nvarchar](max) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[UrunId] [int] NOT NULL,
	[MusteriId] [int] NOT NULL,
	[Onaylandi] [bit] NOT NULL DEFAULT 0, -- Default değerleri buraya aldım
	[ResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_degerlendirmes] PRIMARY KEY CLUSTERED 
(
	[DegerlendirmeId] ASC
)
)
GO

CREATE TABLE [dbo].[kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](30) NOT NULL,
 CONSTRAINT [PK_kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)
)
GO

CREATE TABLE [dbo].[KayitliKartlar](
	[KartId] [int] IDENTITY(1,1) NOT NULL,
	[KartIsmi] [nvarchar](max) NOT NULL,
	[KartSahibi] [nvarchar](max) NOT NULL,
	[KartNumarasi] [nvarchar](max) NOT NULL,
	[SonKullanmaAy] [nvarchar](max) NOT NULL,
	[SonKullanmaYil] [nvarchar](max) NOT NULL,
	[MusteriId] [int] NOT NULL,
 CONSTRAINT [PK_KayitliKartlar] PRIMARY KEY CLUSTERED 
(
	[KartId] ASC
)
)
GO

CREATE TABLE [dbo].[Mesajlar](
	[MesajId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[Icerik] [nvarchar](max) NOT NULL,
	[GonderenAdminMi] [bit] NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_Mesajlar] PRIMARY KEY CLUSTERED 
(
	[MesajId] ASC
)
)
GO

CREATE TABLE [dbo].[musteris](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdi] [varchar](30) NOT NULL,
	[MusteriSoyadi] [varchar](30) NOT NULL,
	[MusteriTelNo] [varchar](10) NOT NULL,
	[MusteriMail] [varchar](50) NOT NULL,
	[MusteriSifre] [varchar](50) NOT NULL,
	[Durum] [bit] NOT NULL,
	[EmailOnayli] [bit] NOT NULL DEFAULT 0,
	[OnayKodu] [nvarchar](max) NULL,
 CONSTRAINT [PK_musteris] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)
)
GO

CREATE TABLE [dbo].[satislars](
	[SatislarId] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[UrunId] [int] NOT NULL,
	[MusteriId] [int] NOT NULL,
	[SiparisNo] [nvarchar](max) NULL,
	[SiparisDurumu] [int] NOT NULL DEFAULT 0,
	[TeslimatAdresiId] [int] NULL,
	[IadeKodu] [nvarchar](max) NULL,
	[IadeNedeni] [nvarchar](max) NULL,
 CONSTRAINT [PK_satislars] PRIMARY KEY CLUSTERED 
(
	[SatislarId] ASC
)
)
GO

CREATE TABLE [dbo].[uruns](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [varchar](30) NULL,
	[UrunMarka] [varchar](30) NULL,
	[UrunYazar] [varchar](250) NULL,
	[UrunStok] [smallint] NOT NULL,
	[UrunSatisFiyati] [decimal](18, 2) NOT NULL,
	[UrunStokDurum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[KategoriID] [int] NOT NULL,
	[Durum] [bit] NOT NULL,
	[IndirimliFiyat] [decimal](18, 2) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[UrunDil] [nvarchar](max) NULL,
	[UrunSayfa] [int] NULL,
 CONSTRAINT [PK_uruns] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)
)
GO

ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_musteris_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteris] ([MusteriId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[degerlendirmes]  WITH CHECK ADD  CONSTRAINT [FK_degerlendirmes_musteris_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteris] ([MusteriId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[degerlendirmes]  WITH CHECK ADD  CONSTRAINT [FK_degerlendirmes_uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[uruns] ([UrunId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[KayitliKartlar]  WITH CHECK ADD  CONSTRAINT [FK_KayitliKartlar_musteris_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteris] ([MusteriId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[satislars]  WITH CHECK ADD  CONSTRAINT [FK_satislars_Adresler_TeslimatAdresiId] FOREIGN KEY([TeslimatAdresiId])
REFERENCES [dbo].[Adresler] ([AdresId])
GO

ALTER TABLE [dbo].[satislars]  WITH CHECK ADD  CONSTRAINT [FK_satislars_musteris_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[musteris] ([MusteriId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[satislars]  WITH CHECK ADD  CONSTRAINT [FK_satislars_uruns_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[uruns] ([UrunId])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[uruns]  WITH CHECK ADD  CONSTRAINT [FK_uruns_kategoris_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[kategoris] ([KategoriID])
ON DELETE CASCADE
GO